<html>
    <head>
        <title>HomePage</title>
        <link rel="stylesheet" href="vendor/bootstrap-5.2.2-dist/css/bootstrap.min.css" type="text/css">
        <link href="style.css" type="text/css" rel="stylesheet"/>
        <link href="./css/style.css" type="text/css" rel="stylesheet"/>
        <style type="text/css">
          .cls{
            color: white;
            /* font-weight: bold; */
            font-style: italic;
          }
          .h1{
            font-size: 400%;
          }
        </style>
    </head>
    <body>
      <video autoplay loop muted plays-inline class="video"><source src="video.mp4" type="video/mp4"> </video>
        
        <!-- <center><img width="700" height="400" src="../design/download.jfif"/> </center> -->
       <div class="main">
          <div class="topnav">
            <a href="home.html">Home</a>
            <a href="login.html">Login</a>
            <a href="register.html">Register</a>
            <a href="booking.html">Booking</a>

          </div>

<div class="con">
  <h1 class="h1" style="color: white; width: 1400px; font-weight: bolder; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"  ><center>CAB  SERVICE !!!!!</center></h1>   
  <center><a href="booking.html" class="btn btn-primary" title="Click here to book ticket"><b>Book Now!</b></a> </center><br>

        <p class="cls">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cab ticket booking site is here..
          Car and bus travel agencies need an effective management platform for handling their respective transportation services.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The existing system relies on manual data recording for management which is very tedious and time-consuming, involving a lot of manpower and paperwork. 
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;So, the current system needs to be computerized and web-based.
          The proposed cab service management system is a web-based application that can handle a <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;variety of branches and departmental works of a typical car agency.
          In case of car rental services, this sort of system stands out as trustworthy and reliable in <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the travel business.
          </p> 
          <p ><span style="color: white;"><i><u>Our Services</u></i></p></span>
          <ul style="color: white;" type="square">
            <li><i>Song Preference</i></li>
            <li><i>WiFi facility</i></li>
            <li><i>Affordable price</i></li>
          </ul>
        </div>
          </div>
    </body>
</html>